/* Intro */

/* About Me */
#about p {
  text-align: justify;
}

/* Education */

/* Research */
#research p {
  text-align: justify;
}

#research .button {
		position: relative;
		display: inline-block;
		border-radius: 0.25em;
		font-size: 0.8em;
		color: #fff !important;
		padding: 0em 0.5em 0em 0.5em;
		background-color: #006DA3;
		border: 0;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}
  
#research .button:hover,
		.button:hover {
			background-color: #004466;
		}
  
/* Publications */
#publications h2{
  text-align: left;
  margin: 0 0 0.5em 0;
}

/* Work Experience */

/* Achievement */
#achievement h2{
  text-align: left;
  margin: 0 0 0.5em 0;
}
  
#achievement .button {
		position: relative;
		display: inline-block;
		border-radius: 0.25em;
		font-size: 0.8em;
		color: #fff !important;
		padding: 0em 0.5em 0em 0.5em;
		background-color: #006DA3;
		border: 0;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}
  
#achievement .button:hover,
		.button:hover {
			background-color: #004466;
		}